<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codearms.maoqiqi.one">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".navigation.activity.SplashActivity"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!--home-->
        <activity android:name=".home.activity.UsefulSitesActivity" />
        <activity android:name=".home.activity.NavigationActivity" />
        <activity android:name=".home.activity.WeChatActivity" />
        <activity android:name=".home.activity.KnowledgeActivity" />
        <activity android:name=".home.activity.ProjectActivity" />
        <activity android:name=".home.activity.ClassifyActivity" />
        <!--navigation-->
        <activity
            android:name=".navigation.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".navigation.activity.CollectActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".navigation.activity.RegisterActivity" />
        <activity android:name=".navigation.activity.ProjectIntroductionActivity" />
        <activity android:name=".navigation.activity.UpdateDescriptionActivity" />
        <activity android:name=".navigation.activity.ScanCodeActivity" />
        <activity android:name=".navigation.activity.ProblemFeedbackActivity" />
        <activity android:name=".navigation.activity.AboutActivity" />
        <activity android:name=".navigation.activity.DonateActivity" />
        <activity android:name=".navigation.activity.SettingActivity" />
        <activity
            android:name=".navigation.activity.WebViewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 打开http或https开头的网页 -->
                <data android:scheme="https" />
                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".navigation.activity.SearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".home.activity.ImageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!--news-->
        <activity android:name=".news.activity.NewsDetailActivity" />
        <activity android:name=".book.activity.BookDetailActivity" />
        <activity android:name=".music.activity.MusicListActivity" />
        <activity
            android:name=".music.activity.MusicMoreActivity"
            android:theme="@style/OneAppDialog" />
        <activity android:name=".movie.activity.MovieDetailActivity" />
    </application>

</manifest>