<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codearms.maoqiqi.one">

    <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 设置壁纸 -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <!-- 外部存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".navigation.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen.Splash"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!--导航-->
        <!--登录-->
        <activity
            android:name=".navigation.activity.LoginActivity"
            android:windowSoftInputMode="stateVisible" />
        <!--收藏列表-->
        <activity
            android:name=".navigation.activity.CollectActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!--注册-->
        <activity
            android:name=".navigation.activity.RegisterActivity"
            android:windowSoftInputMode="stateVisible" />
        <!--项目介绍-->
        <activity
            android:name=".navigation.activity.ProjectIntroductionActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!--更新说明-->
        <activity
            android:name=".navigation.activity.UpdateDescriptionActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!--扫码下载-->
        <activity
            android:name=".navigation.activity.ScanCodeActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!--问题反馈-->
        <activity
            android:name=".navigation.activity.ProblemFeedbackActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!--关于我们-->
        <activity
            android:name=".navigation.activity.AboutActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!--捐赠开发者-->
        <activity
            android:name=".navigation.activity.DonateActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!--设置-->
        <activity
            android:name=".navigation.activity.SettingActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!--首页-->
        <!--常用网址-->
        <activity
            android:name=".home.activity.UsefulSitesActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!--导航-->
        <activity
            android:name=".home.activity.NavigationActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!--公众号-->
        <activity
            android:name=".home.activity.WeChatActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!--知识体系-->
        <activity
            android:name=".home.activity.KnowledgeActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!--项目-->
        <activity
            android:name=".home.activity.ProjectActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!--二级分类-->
        <activity
            android:name=".home.activity.ClassifyActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".navigation.activity.WebViewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 打开http或https开头的网页 -->
                <data android:scheme="https" />
                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".navigation.activity.SearchActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".home.activity.PictureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen.Translucent" />

        <!--新闻详情-->
        <activity android:name=".news.activity.NewsDetailActivity" />

        <!--图书详情-->
        <activity android:name=".book.activity.BookDetailActivity" />

        <!--音乐列表-->
        <activity android:name=".music.activity.MusicListActivity" />
        <!--更多音乐操作选项-->
        <activity
            android:name=".music.activity.MusicMoreActivity"
            android:theme="@style/OneAppDialog" />

        <!--影视详情-->
        <activity android:name=".movie.activity.MovieDetailActivity" />

        <!--干货-->
        <activity android:name=".gank.activity.GankActivity" />
    </application>

</manifest>